{% extends "site_base.html" %}
{% load staticfiles %}
{% load qa_tags %}

{% block head_title %}{{test_list_instance.work_completed|date}} {{test_list_instance.test_list.name}} Details{% endblock %}

{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <h3>{{test_list_instance.work_completed|date}} {{test_list_instance.test_list.name}} Details</h3>
        </div>
    </div>

    <form class="review-test-list" id="qa-review" method="POST" action="">
        {% csrf_token %}
        {{form}}

        <div class="row-fluid">

            {% with tli=test_list_instance %}
                <div class="span4">
                    <dl class="dl-horizontal">
                        <dt>Unit :</dt>
                        <dd>{{tli.unit_test_collection.unit.name}}</dd>

                        <dt>Collection :</dt>
                        <dd>{{tli.unit_test_collection.tests_object.name}}</dd>

                        <dt>Test List :</dt>
                        <dd>
                            {% if tli.test_list.description%}
                            <a class="show-hide" id="test-list-info-toggle" title="Click to view description and general instructions for this test list">{{tli.test_list.name}} <i class="icon-info-sign" ></i></a></dd>
                            {% else %}
                               {{tli.test_list.name}}
                            {% endif %}
                        </dd>

                        <dt>Performed By :</dt>
                        <dd>{{tli.created_by}}</dd>

                        <dt>Actions:</dt>
                        <dd>

                            {% if perms.qa.delete_testlistinstance %}
                            <a class="btn btn-danger btn-mini" title="This will redirect you to the admin site where you can permanently delete this qa session" href="{% url admin:qa_testlistinstance_delete test_list_instance.pk%}">Delete</a>
                            {% endif %}
                            {% if instance.in_progress %}
                                <a class="btn btn-primary btn-mini" title="Continue this list" href="{%url continue_tli pk=test_list_instance.pk%}?next={{request.get_full_path}}" >Continue</a>
                            {% elif perms.qa.change_testlistinstance %}
                                <a class="btn btn-primary btn-mini" title="Edit this list" href="{%url edit_tli pk=test_list_instance.pk%}?next={{request.get_full_path}}" >Edit</a>
                            {% endif %}
                        </dd>

                   </dl>
                </div>
                <div class="span4">
                    <dl class="dl-horizontal">

                        <dt>Work Started :</dt>
                        <dd>{{tli.work_started}}</dd>

                        <dt>Work Completed :</dt>
                        <dd>
                            {% if tli.in_progress %}
                                <span class="label label-warning">
                                    <em>In Progress</em>
                                </span>
                            {% else %}
                                <span class="label label-success">
                                    {{tli.work_completed}}
                                </span>
                            {% endif %}
                        </dd>

                        <dt>Duration :</dt>
                        <dd>
                            {% if not tli.in_progress%}
                                {{tli.duration|as_time_delta}}
                            {% else %}
                                <em>In Progress</em>
                            {% endif %}
                        </dd>

                        <dt>Last Modification :</dt>
                        <dd>{{tli.modified_by}} @ {{tli.modified}}</dd>

                        <dt>Last Review:</dt>
                        <dd>{% if tli.reviewed_by %}{{tli.reviewed_by}} @ {{tli.reviewed}}{% endif %}</dd>

                   </dl>
                </div>
                <div class="span4 actions review-buttons">
                    <dl class="dl-horizontal">

                        <dt>Comment :</dt>
                        <dd>{% if tli.comment %}{{tli.comment}}{% else %}<em>No comment</em>{% endif %}</dd>
                    </dl>

                </div>



            {% endwith %}
        </div>
        {% if test_list_instance.test_list.description %}
        <div id="test-list-info" class="row-fluid" style="display:none;">
            <div class="span12">
                <pre >
                    {{test_list_instance.test_list.description|safe}}
                </pre>
            </div>
        </div>
        {% endif %}

        <div class="row-fluid">
            <div class="span12">

                <table class="table table-bordered table-striped table-condensed" >
                    <thead>
                        <tr>
                            <th>Test<div></div></th>
                            <th class="review-value">Value</th>
                            <th class="review-ref">Reference</th>
                            <th>Comment</th>
                            <th class="qa-history">History<br/>
                                {% for d in history_dates %}
                                    <span class="label history-label" title="{{d}}">{{d|date:"dMy"}}</span>
                                {% endfor %}
                                <div></div>
                            </th>
                            <th class="review-status">
                                Status<br/>

                                {% if perms.qa.can_review %}
                                <div class="input-append">
                                <select name="bulk-status" id="bulk-status" class="input-medium">
                                    <option value="" selected="selected">---</option>

                                    {% for status in statuses %}
                                        <option title="{% if status.description %}{{status.description}}{% else %}No description available{%endif%}" value="{{status.pk}}">{{status.name}}</option>
                                    {% endfor %}
                                </select>
                                </div>
                                {% endif %}
                            </th>
                            {% if perms.qa.can_review %}
                            <th class="review-selected">Selected<br/><input class="test-selected-toggle" type="checkbox" checked="checked"/></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {{ formset.management_form }}

                        {% for ti_form in formset %}

                            {% with ti=ti_form.instance test=ti_form.instance.unit_test_info.test %}
                            <tr>
                                <input type="hidden" name="testinstance_set-{{forloop.counter0}}-id" value="{{ti.pk}}" id="id_testinstance_set-{{forloop.counter0}}-id">
                                <td><strong>{{ti.unit_test_info.test.name}}</strong></td>
                                <td class="review-value">
                                    {% if ti.string_value %}
                                    <span class="" title="{{ti.value_display}}">{{ti.value_display|safe}}</span>
                                    {% else %}
                                    <span class="label pass-fail {{ti.pass_fail}}" title="{{ti.diff_display}}">{{ti.value_display}}</span>
                                    {% endif %}
                                </td>
                                <td class="review-ref">
                                    {% reference_tolerance_span ti.unit_test_info.test ti.reference ti.tolerance%}
                                </td>
                                <td>
                                    {% if ti.comment %}
                                        <a title="{{ti.comment}}">Hover for Comment</a>
                                    {% else %}
                                        <em>No comment</em>
                                    {% endif %}
                                </td>
                                <td class="qa-history">
                                    {{ti_form.history|history_display}}
                                </td>
                                {% if perms.qa.can_review %}
                                {# note we render this manually to prevent the Django ORM from running a query for every form #}
                                <td class="review-status">
                                    <select name="testinstance_set-{{forloop.counter0}}-status" id="id_testinstance_set-{{forloop.counter0}}-status" class="input-medium">
                                        {% for status in statuses %}
                                            <option title="{% if status.description %}{{status.description}}{% else %}No description available{%endif%}" value="{{status.pk}}" {% if ti.status = status %}selected="selected"{% endif %}>{{status.name}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                {% else %}
                                <td class="review-status">
                                    {{ti.status.name}}
                                </td>
                                {% endif %}
                                {% if perms.qa.can_review %}
                                <td class="review-selected"><input class="test-selected" type="checkbox" checked="checked"/></td>
                                {% endif %}
                            </tr>
                            {%endwith%}
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
        {% if perms.qa.can_review %}
        <div class="row-fluid">
            <div class="span12 actions review-buttons">
                    <button type="submit" class="btn btn-primary pull-right">Update Test Statuses</button>
            </div>

        </div>
        {% endif %}
    </form>
{% endblock %}

{% block end_body_extra_script %}
    <script type="text/javascript" src="{% static "js/review_test_list.js" %}?v={{VERSION}}"></script>
{% endblock %}
